body {
    background-color: #333;
    color: #bbb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;  /* or any desired percentage or fixed width */
    margin: 0 auto;  /* top and bottom margins are 0, left and right margins are automatic */
}

#photo-section {
    position: absolute;
    top: 1%;
    right: 1%;
    border-radius: 20%;
    height: 35%;
    width: 35%;
}
header, main, footer {
    padding: 20px;
}

h1, h2, a {
    color: #bbb;
}

section {
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #222;
    text-align: center;
    color: #bbb;
}

